.newsletter{
  background: #cae5f4;
  margin-top: 3rem;
}

.newsletter__img img{
  width: 80%;
  height: 50%;
  padding-left: 40px;
  margin-left: 40px;
  padding-top: 40px;
  
}

.newsletter__content{
  padding: 40px;
}

.newsletter__content h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.newsletter__input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.newsletter__input input{
  flex: 1;
  border: none;
  font-size: 1rem;
  color: var(--heading-color);
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.newsletter__input input:focus{
  outline: none;
  
}

.newsletter__btn {
  padding: 0.5rem 1.5 rem !important;
  background:var(--secondary-color) !important ;
  color: #fff !important;
  font-size: 1.1rem !important;
}

.newsletter__content p{
  color: var(--heading-color);
  font-size: 1.1rem;

}
/* Add these styles to your newsletter.css or a separate CSS file */
.Toastify__toast--success {
  background-color: #4CAF50; /* Green */
}

.Toastify__toast--error {
  background-color: #f44336; /* Red */
}
